.conocenos{
    color: #22264b;
    margin-top: -32%;
    margin-left: 43%;
    font-weight: bold;
  }

.descubrenos{
    color: #22264b;;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 15%;
}

.mejoresPromociones {
    color: #22264b;
    margin-left: 15%;
    font-weight: lighter;
}

.solicitanos{
    color: #22264b;
    font-weight: bolder;
    margin-top: 2%;
    margin-left: 15%;
}

.unCupon{
    color: #22264b;
    margin-left: 15%;
    font-weight: lighter;
}

.QRCode{
    margin-left: 8%;
    margin-top: -20%;
}
.Cutlerly{
    margin-left:-5% ;
    margin-top: -7%;
}
.muyPronto{
    color: #22264b;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 39%;
}
.videoFooter{
margin-left: 60%;
margin-top: -35%;
}
.markets{
    margin-left: 50%;
    margin-top: -9%;

}