.conocenos{
    color: #22264b;
    margin-top: -20%;
    margin-left: 43%;
    font-weight: bold;
  }

.descubrenos{
    color: #22264b;;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 15%;
}

.mejoresPromociones {
    color: #22264b;
    margin-left: 15%;
    font-weight: lighter;
}

.solicitanos{
    color: #22264b;
    font-weight: bolder;
    margin-top: 2%;
    margin-left: 15%;
}

.unCupon{
    color: #22264b;
    margin-left: 15%;
    font-weight: lighter;
}

.QRCode{
    margin-left: 9%;
    margin-top: -18%;
}
.Cutlerly{
    margin-left:-5% ;
    margin-top: -6%;
}
.muyPronto{
    color: #22264b;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 36%;
}
.videoFooter{
margin-left: 68%;
margin-top: -23%;
}
.markets{
    margin-left: 46%;
    margin-top: -9%;
}

.lineHorizontal__container {
    align-items: center;
    display: flex;
    height: 80px;
  }
  .lineHorizontal {
    border-top: 1px solid rgb(30, 30, 30);
    width: 100%;
    margin-top: -10%;
  }
  .lineHorizontal2 {
    border-top: 1px solid rgb(30, 30, 30);
    width: 100%;
    margin-top: -3%;
  }
  .contactanos{
      font-weight: bold;
      margin-top: -12%;
      margin-left: 25%;
  }
  .number{
      margin-top: -15%;
      margin-left: 20%;
  }
