.textStyle3{
    margin-left: 9%;
    font-weight: bold;
  }
  @media screen and (max-width: 2560px){
    .textStyle3{
      margin-left: 12%;
      font-weight: bold;
    }
  }
  @media screen and (max-width: 767.98px){
    
    .textStyle3{
      margin-left: 5%;
      font-weight: bold;
    }
  }
  